.app {
    margin: 0 auto;
    max-width: 1000px;
  }


  @media (max-width: 575px){
  .app{
      width: 100%;
      margin: 2px 1px;
      };

      .form-control{
        width: 90%;
        
      };


      .btn-group{
        width: 100%;
      };

      .btn{
        font-size: 14px;
      };


      .list-group-item span{
        min-width: 46px;
        font-size: 12px;
      };

      .list-group-item input{
        font-size: 14px;
      };

      .add-form input{
        width: 100%;
        font-size: 12px;
      };

      html {
        overflow-x: hidden;
      };
    
    body{
        overflow-x:hidden;
      };
}

